<!-- header start  -->
<header class="main-header">
  <!-- logo   -->
  <a href="index.html" class="logo-holder"><img src="images/logo.png" alt=""></a>  
  <!-- logo end  -->		
  <!-- search -->				
  <div class="search-button"><i class="far fa-search"></i></div>
  <div class="search-input"><input name="se" id="se" type="text" class="search" placeholder="Search.." /></div>
  <!-- search end  -->
  <div class="sb-button"></div>
  <div class="share-btn showshare"><i class="fal fa-megaphone"></i><span>Share</span></div>
  <!-- mobile nav -->
  <div class="nav-button-wrap">
      <div class="nav-button"><span></span><span></span><span></span></div>
  </div>
  <!-- mobile nav end-->				
  <!--  navigation -->
  <div class="nav-holder main-menu">
      <nav>
          <ul>
              <li>
                  <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="act-link">Home </a>
              </li>
              <li>
                  <a routerLink="/portfolio" routerLinkActive="act-link">Portfolio</a>
              </li>
              <li>
                  <a href="about.html" routerLinkActive="act-link">About</a>
              </li>
              <li>
                  <a href="blog.html" routerLinkActive="act-link">News</a>
              </li>
              <li>
                  <a href="contacts.html" routerLinkActive="act-link">Contacts</a>
              </li>
          </ul>
      </nav>
  </div>
  <!-- navigation  end -->               
</header>
<!-- header end -->