<div class="content">
  <!-- column-image  -->
  <div class="column-image">
    <background-image background-image="assets/images/portrait/20210503-WindowPortrait.jpg"></background-image>
    <div class="column-title">
      <h2>My Portfolio</h2>
      <h3>Take a look at my expanding collection of photographs. I'm always interested in trying new styles and techniques.</h3>
    </div>

    <div class="column-notifer">
      <div class="scroll-down-wrap transparent_sdw">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
        <span>Scroll down to Discover</span>
      </div>
    </div>
    <div class="fixed-column-dec"></div>
  </div>
  <!-- column-image end  -->
  <!-- column-wrapper -->
  <div class="column-wrapper column-wrapper_smallpadding">
    <div>
      <!--fixed-bottom-content -->
      <div class="fixed-bottom-content fbc_white">
        <div class="gallery-filters">
          <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">All</a>
          <a href="#" class="gallery-filter" data-filter=".landscapes">Landscapes</a>
          <a href="#" class="gallery-filter" data-filter=".portrait">Portraits</a>
          <a href="#" class="gallery-filter" data-filter=".nature">Nature</a>
        </div>
      </div>
    </div>
    <!-- portfolio start -->
    <div class="gallery-items min-pad   three-column fl-wrap lightgallery">
      <gallery-item *ngFor="let photo of gallery" [photo]="photo"></gallery-item>
      
    </div>
    <!-- portfolio end -->
  </div>
  <!-- column-wrapper -->
</div>
<!--content end-->