<loader></loader>
<!-- main start  -->
<div id="main" @fade>
<app-header></app-header>
  <!-- wrapper  -->	
  <div id="wrapper">
      <!--content -->	
      <router-outlet></router-outlet>
      <!--content end-->	
      <!--share-wrapper-->
      <div class="share-wrapper">
          <div class="share-container fl-wrap  isShare"></div>
      </div>
      <!--share-wrapper end-->
  </div>
  <!-- wrapper end -->
  <sidebar></sidebar>
  <!-- cursor-->
  <div class="element">
      <div class="element-item"></div>
  </div>
  <!-- cursor end-->     
</div>
<!-- Main end -->
