<div class="content full-height">  
  <!--home-main_container-->	
<div class="home-main_container">
  <follow-wrapper></follow-wrapper>
  <!--hero-decor-let-->   
  <div class="hero-decor-let">
    <div>01. <span>Landscape</span></div>
      <div>02. <span>Cityscape</span></div>
      <div>03. <span>Sunset</span></div>
    </div>
  <!--hero-decor-let end-->
  <!--home-main_title-->
  <div class="home-main_title">
      <div class="home-main_title_item">
          <h4>Practicing photographer based in Shropshire</h4>
          <h2>Kris Turner</h2>
          <p>Although new to photography, Kris is expanding his portfolio. He is particurarly interested in exploring stories through portraits, exploring the UK through landscapes, and developing his skills in product photography. </p>
          <a href="portfolio.html" class="btn fl-btn">My portfolio</a>
      </div>
  </div>
  <!--home-main_title end-->
  <div class="slider-mask"></div>
  <background-image background-image="assets/images/bg/sunset.jpg"></background-image>
</div>
<!--home-main_container end-->	
</div>