.follow-wrap  {
  position:absolute;
	left:0;
	z-index:20;
	padding-left:180px;
  top:90px;
  cursor:pointer;
}
.follow-wrap ul {
	padding-top:15px;
	position:relative;
	visibility:hidden;
	opacity:0;
	float:left;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.follow-wrap ul li {
	float:left;
	margin-right:20px;
}
.follow-wrap ul li a {
	color:#fff;
}
.follow-wrap:hover ul {
	visibility:visible;
	opacity:1;
}
.follow-wrap_title {
	float:left;
}
.follow-wrap_title span{
	color: #fff;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:2px;
	text-align:left;
	font-weight:500;
}
.follow-wrap_title i {
	color:#fff;
	padding-left:30px;
	position:relative;
	top:2px;
}
.follow-wrap:hover:hover .follow-wrap_title i {
	padding-left:50px;
}
.follow-wrap_title i {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 640px) {
.follow-wrap {
  padding-left: 50px;
  top: 80px;
}
}

@media only screen and (max-width: 530px) {
  .follow-wrap {
      padding-left:20px;
  }
}