<div class="follow-wrap">
  <div class="follow-wrap_title">
      <span>Follow</span> <i class="fal fa-arrow-right"></i>
  </div>
  <div class="clearfix"></div>
  <ul>
      <!--<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>-->
      <li><a href="https://instagram.com/kristurner1997" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <!--<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>-->
      <!--<li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>-->
  </ul>
</div>