<!-- gallery-item-->
<div class="gallery-item nature landscapes">
  <div class="grid-item-holder hov_zoom">
    <img [src]="imageUrl" alt="">
    <a [href]="imageUrl" class="box-media-zoom   popup-image"><i
        class="fal fa-search"></i></a>
    <div class="thumb-info">
      <h3><a href="portfolio-single.html">On the edge</a></h3>
      <p>Taking in the sheer drop over the Telford Wrekin</p>
    </div>
  </div>
</div>
<!-- gallery-item end-->
